// @use 'settings/color' as color;

@keyframes background-white {
  from {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.js-hidden {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}