$primary: #0085E9;
$secondary: #498dc5;

$text: #303030;
$black: #000;
$gray-dc: #dcdddd;
$gray-72: #727171;
$gray-9f: #9fa0a0;
$gray-8e: #8e8d8b;
$gray-22: #222222;
$white: #fff;
$white-f9: #f9f9fa;
$white-fb: #fffbf5;
$red-e6: #e60012;
$red-a1: #a1000d;
$pink-fc: #fce1de;
$pink-f6: #f6d2bf;
$pink-fa: #fac9c8;
$blue-00: #005bac;
$yellow-ff:#ffff00;